/* Common */
	/* General */
		html,body {
			width: 100%;
			margin: 0;
		}

		h3,h4,p,a {
			font-family: "arial";
			color: #303030
		}

		h3,h4 {
			font-size: 18px;
			margin: 0 auto 12px auto;
		}



		p {
			font-size: 14px;
			line-height: 22px;
			margin: auto;
		}

	/* Top */
		#top {
			z-index: 1;
			position: fixed;
			background-color: #FFF;
			width: 100%;
		}

		#top .btn {
			margin: auto;
		}

		#top a {
			letter-spacing: 0.8px;
			text-decoration: none;
		}

		/* top-animation */
			.btn {
			    animation-duration: 1.2s;
			    animation-name: slidein;
			}

			@keyframes slidein {
			    from {
			        margin-top: -80px;
			    }

			    to {
			        margin-bottom: 0%;
			    }
			}

	/* container */
		#container {
			max-width: 896px;
			margin: auto;
			z-index: 0;
			clear: both;
		}

		#yam,#sch {
			padding-top: 160px;
			margin-bottom: 96px;
		}

		.intro {
			background-color: rgba(255,255,255,0.9);
			padding: 1em 0;
		}

		.intro p,.intro h4{
			max-width: 64%;
		}

		.intro p{
			font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',serif;
		}

		/* container-animation */
			#pjax-container {
			    animation: fadeIn 2s ease 0s 1 normal;
			    -webkit-animation: fadeIn 2s ease 0s 1 normal;
			}

			@keyframes fadeIn {
			    0% {opacity: 0}
			    100% {opacity: 1}
			}

			@-webkit-keyframes fadeIn {
			    0% {opacity: 0}
			    100% {opacity: 1}
			}

	/* list */
		ul {
			padding: 0;
			display: table;
			width: 80%;
		}

		.list li {
    		list-style-type:none;
			display: table-cell;
			float: left;
		}

		.list img {
			width: 240px;
		}

		.list p {
			margin: -0.56em 0 72px 0;
		}

/* SmartPhone */
@media (max-width: 767px){
	/* Top */
		.spNone {
			display: none;
		}

		#top {
			padding: 8px 0;
			border-bottom: #f0f0f0 solid 1px;
		}

		.btn p{
			text-align: center;
			padding: 7px 0;
			font-size: 20px;
		}

	/* list */
		ul {
			margin: 16%;
		}

		.list li {
			padding: auto;
			width: 240px;
			clear: both;
		}


}

/* Desktop */
@media (min-width: 768px){
	/* Top */
		
		#top {
			height: 96px;
		}
		
		#top .btn {
			width: 336px;
			margin-top: 32px;
		}

		#top .btn div {
			text-align: center;
			float: left;
		}

		#top p {
			margin: 0px 16px;
			font-size: 24px;
		}

	/* bg */
		.yam-bg::before, .sch-bg::before {  
			display: block;
			position: fixed;
			background-repeat: no-repeat;
			background-position: center center;
			background-attachment: fixed;
			content: "";
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.yam-bg::before {
			top: -64px;
			background-image: url(../yam/img/yam.png);
		}

		.sch-bg::before {
			top: -64px;
			background-image: url(../sch/img/nyan_with.png);
		}

	/* list */
		ul {
			margin-top: 180px;
			margin-left: 16%;
			margin-bottom: 40px;
		}

		.list li {
			width: 50%
		}

		.list li:nth-child(2n+1) {
			clear: both;
		}
}

/* detail */
	.detail {
		height: 100%;
		margin: auto auto;
		max-width: 672px;
		background-color: rgba(255,255,255,0.9);
	}

	.detail h3,.detail h4 {
		font-family: "arial";
		color: #303030
	}

	.detail p,.detail h3,.detail h4 {
		width: 75%;
	}
	
	.detail p {
		font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',serif;
	}

	.detail img {
		width: 100%;
	}

	.detail article {
		padding: 160px 0px;
		margin: ;
	}