/* common */
	body,html {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	h1,h2,h3,h4,p {
		font-family: 'Noto Sans', Hiragino Kaku Gothic Pro,"ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
		max-width: 750px;
	}

	h1,h2,p {
		color: #333333;
	}

	h1 {
		font-size: 16pt;
	}

	h2 {
		font-size: 10pt;
		margin-top: 10pt;
		margin-bottom: 24pt;
	}

	h3 {
		font-size: 12pt;
		color: #FFBB33;
		margin-bottom: 20pt;
	}

	h4 {
		font-size: 10pt;
		color: #FFF9ED;
	}

	p {
		font-size: 10pt;
		line-height: 20pt;
		margin-top: 10pt;
		margin-bottom: 12pt;
	}

	a:link, a:visited, a:hover {
		color: #333333;
	}

	img {
		width: 100%;
	}

/* lists */
	#lists {
		animation-duration: 1800ms;
		animation-name: fadeSlideIn;
	}

	@keyframes fadeSlideIn {
		0% {
			margin-top: 128px;
			opacity: 0;
		}

		60% {
			margin-top: 128px;
			opacity: 0;
		}

		100% {
			margin-top: 96px;
			opacity: 1;
		}
	}

	.title {
		display: block;
		width: 100%;
		padding-top: 2%;
	}

	.title p {
		margin-bottom: 56pt;
	}

	.title img {
		margin-bottom: 32pt
	}

	.catch-img {
		width: 100%;
		padding: 0;
		background-color: #999999;
		overflow: hidden;
	}

	/* img hover animation */
		.catch-img img {
			vertical-align: bottom;
			-webkit-transition: 240ms ease-in-out;
			transition: 240ms ease-out;
		}

		.container:hover .catch-img img {
			-webkit-transform: scale(1.04);
			transform: scale(1.04);
			animation-duration: 260ms;
			animation-timing-function: ease-out;
			animation-name: zoomIn;
			opacity: 0.8;
		}

		@keyframes zoomIn {
			0% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}

			100%{
				-webkit-transform: scale(1.04);
				transform: scale(1.04);
			}
		}

/* footer */
	.footer {
		width: 100%;
		padding-bottom: 3px;
		background-color: #FFCF70;
	}
	.footer-margin {
		max-width: 1296px;
		margin: auto;
	}


/* close button */
	.close-wrap {
		display: block;
		margin: auto;
		max-width: 1296px;
		z-index: 2;
		animation-duration: 1800ms;
		animation-name: fadeIn;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		60% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.close-width {
		display: block;
		position: fixed;
		width: 100%;
	}

	.close-button {
		display: block;
		position: relative;
		width: 24px;
		height: 24px;
	}

	.close-shape {
		width: inherit;
		text-align: center;
	}

	.close-shape:before, .close-shape:after {
		position: absolute;
		content: '';
		height: 1.8px;
		width: inherit;
		background: #EEE;
		left: 0;
		top: 50%;
	}

	.close-shape:before {
		transform: rotate(45deg);  
	}

	.close-shape:after {  
		transform: rotate(-45deg);  
	}

/* desktop */
@media (min-width: 783px){
	h1, h2, h3, p {
		margin-right: 4px;
		margin-left: 4px;
	}

	.container {
		max-width: 784px;
		margin: 0 auto 112pt auto;
	}

	.close-button {
		margin-left: 40px;
	}

	/* lists */
		#lists {
			margin: 96px 128px 0;
		}

	/* footer */
		.footer h4 {
			margin-left: 40px;
		}
		.footer img {
			width: 56px;
			margin: 24px 0 0 40px;
		}
}


/* smartphone */
@media (max-width: 784px){
	.container {
		margin: 0 auto 72pt auto;
	}

	.close-wrap {
		display: none;
	}

	/* lists */
		#lists {
			margin: 96px 16px 0;
		}

	/* footer */
		.footer-margin {
			margin-left: 16px;
		}
		.footer img {
			width: 56px;
			margin-top: 24px;
		}
}

