/* Common */
	/* General */
		html,body {
			width: 100%;
			margin: 0;
		}

		h3,h4 {
			width: 75%;
			font-family: "arial";
			color: #303030
		}

		h3 {
			font-size: 40px;
			margin: 0 auto 80px auto;
		}

		h4 {
			font-size: 18px;
			margin: 64px auto 12px auto;
		}

		p,a {
			font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
			color: #303030
		}

		p {
			margin: auto;
			font-size: 14px;
			line-height: 22px;
		}

	/* detail */
		.detail {
			height: 100%;
			margin: auto auto;
			max-width: 672px;
			background-color: #FFF;
		}

		.detail p {
			width: 75%;

		}
		
		.detail img {
			width: 100%;
		}

		.detail article {
			padding: 160px 0px;
			margin: ;
		}